{% extends 'layout.html' %}
{% load bootstrap3 %}

{% block page_title %}게시물 목록{% endblock %}

{% block body %}
    <h1>게시물 목록</h1>

    <label for="id_category">카테고리 정렬</label>
    <p>
        <form method="GET" action="">
        <select name="category" id="id_category">
            <option value = "0"
                    {% if selected_category == 0 %}
                        selected
                    {% endif %}>전체</option>
            {% for category in categories %}
                <option value="{{ category.pk }}"
                    {% if selected_category == category.pk %}
                        selected
                    {% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">확인</button>
        </form>
    </p>

    {% for post in posts %}
        <p><a href="{% url 'blog:detail' pk=post.pk %}">{{ post.title }}</a></p>

        {% include 'part_detail.html'%}
        <!-- post에 값이 없는 경우 아래의 empty가 실행된다. -->
        {% empty %}
        <p>게시물이 없습니다.</p>

    {% endfor %}

{% bootstrap_pagination posts %}

{% comment %}
    {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}">이전</a>
    {% endif %}

    {{ posts.number }} / {{ posts.paginator.num_pages}}

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">다음</a>
    {% endif %}
{% endcomment %}

    <p>
        <a href="{% url 'blog:create' %}">새 글 쓰기</a>
    </p>

{% endblock %}
